<form action="/names" method="post">
Player1  <input type="text" name="player_1_name">
Player2  <input type="text" name="player_2_name">
  <input type="submit" value="Submit">
</form>

<!-- <% if @name %>
<h1>My name is <%= @name %></h1>
<% end %>

<div style='border: 3px solid purple'>
  <img src='http://bit.ly/1eze8aE'>
</div> -->
