<body>


<div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <h1><%= @game.player_2.name %> has won!</h1>
<img src= "https://65.media.tumblr.com/fd00a457e903e25c2d55b84dc43f0483/tumblr_inline_nd2wbqeMGy1rduuok.gif">
</div>

</body>


<style>
body {
  background-image: url("http://cdn.shopify.com/s/files/1/0222/7924/products/Game-over---Karlangas_1024x1024.gif?v=1455568759");
  background-repeat: no-repeat;
  background-size: 100% 45%
}



h1 {
text-align: center;
color: #DD143B;
font-family: "Papyrus";
font-size: 70px;
font-weight: 900
}
img {
  display: block;
  margin: auto;
  width:40%
}
